<odoo>
    <data>

        <record model="ir.actions.act_window" id="action_pr_tracking">
            <field name="name">Tracking</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">purchase.order.line</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <!--field name="context">{"search_default_department_id":uid}</field-->
        </record>

        <menuitem id="vit_pr_tracking" name="Menu Tracking" sequence="40" parent="vit_product_request.menu_request_root"/>
        <menuitem id="vit_pr_tracking_sub" name="Tracking" sequence="40" parent="vit_pr_tracking" action="action_pr_tracking"/>

    </data>
</odoo>